<%- include("partials/header2", {title: "About"}) %>

<body class="about-us">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-3">
                        <h1 class="site-branding flex">
                            <a href="/index">SUNFEST</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-9">
                        <nav class="site-navigation">

                            <ul>
                                <li><a href="/index">HOME</a></li>
                                <li><a href="/sunfest">SUNFEST</a></li>
                                <li><a href="/artists">ARTISTS</a></li>
                                <li><a href="/profile">PROFILE</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">About us</h2>

                        <ul class="breadcrumbs flex align-items-center">
                            <li><a href="#">Home</a></li>
                            <li>About us</li>
                        </ul><!-- .breadcrumbs -->
                    </div><!-- .entry-header -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="main-content">
        <div class="container">
            <div class="entry-header">
                <div class="entry-title">
                    <p>JUST THE BEST</p>
                    <h2>A few words about us</h2>
                </div><!-- -->
            </div><!-- -->

            <div class="entry-content">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="entry-header">
                            <h3>We love our public</h3>
                        </div><!-- -->

                        <div class="entry-description">
                            <p>We love you all to the end of the world.
                                We relaise that it is you all who make the event so successful every year 
                                that we are priviledged enough to organise it this eyar as well!
                                We will always strive to make this event the best event you experience..
                                until it arrives the next year!
                            </p>
                        </div><!-- entry-description -->
                    </div><!-- col-6 -->

                    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                        <div class="entry-header">
                            <h3>Why SUNFEST?</h3>
                        </div><!-- -->

                        <div class="entry-description">
                            <p>If you're new to SUNFEST, be ready to have the time of your life enjoying with
                                your friends to the fullest! You can check out our reviews <a href="#reviews">here.</a>
                                This year we have made proper arrangements to ensure necessary sanitization of all 
                                the stages and also maintain social distancing without compromising the fun!
                            </p>
                        </div><!-- entry-description -->
                    </div><!-- col-6 -->
                </div><!-- row -->
            </div><!-- entry-content -->

            <figure class="featured-image">
                <img src="images/about-us-content-image.jpg" alt="party people">
            </figure>
        </div><!-- container -->
    </div><!-- main-content -->

    <div class="container">
        <div class="milestones">
            <div class="row flex flex-wrap justify-content-between">
                <div class="d-col-n mt-5 mt-lg-0">
                    <div class="counter-box">
                        <div class="flex justify-content-center">
                            <div class="start-counter" data-to="390" data-speed="2000"></div>
                        </div>

                        <h3 class="entry-title">Hours of Music</h3><!-- entry-title -->
                    </div><!-- counter-box -->
                </div><!-- d-col-n -->

                <div class="d-col-n mt-5 mt-lg-0">
                    <div class="counter-box">
                        <div class="flex justify-content-center">
                            <div class="start-counter" data-to="68" data-speed="2000"></div>
                        </div>

                        <h3 class="entry-title">DJ's Playing</h3><!-- entry-title -->
                    </div><!-- counter-box -->
                </div><!-- d-col-n -->

                <div class="d-col-n mt-5 mt-lg-0">
                    <div class="counter-box">
                        <div class="flex justify-content-center">
                            <div class="start-counter" data-to="120" data-speed="2000"></div>
                            <div class="counter-k">K</div>
                        </div>

                        <h3 class="entry-title">Visitors</h3><!-- entry-title -->
                    </div><!-- counter-box -->
                </div><!-- d-col-n -->

                <div class="d-col-n mt-5 mt-lg-0">
                    <div class="counter-box">
                        <div class="flex justify-content-center">
                            <div class="start-counter" data-to="8" data-speed="2000"></div>
                        </div>

                        <h3 class="entry-title">Stages</h3><!-- entry-title -->
                    </div><!-- counter-box -->
                </div><!-- d-col-n -->

                <div class="d-col-n mt-5 mt-lg-0">
                    <div class="counter-box">
                        <div class="flex justify-content-center">
                            <div class="start-counter" data-to="325" data-speed="2000"></div>
                            <div class="counter-k">K</div>
                        </div>

                        <h3 class="entry-title">Followers</h3><!-- entry-title -->
                    </div><!-- counter-box -->
                </div><!-- d-col-n -->
            </div>
        </div>
    </div>

    <div class="testimonial-wrap flex flex-wrap align-self-stretch">
        <div class="testimonials-container">
            <div class="swiper-container testimonials-slider">
                <div class="swiper-wrapper" id="reviews">

                    <% foundReviews.forEach(review => { %>
                        <div class="swiper-slide">
                            <div class="testimonial-content-wrap flex flex-wrap align-items-stretch">
                                <figure class="user-avatar">
                                    <img src="images/testimonial-user.jpg" alt="">
                                </figure><!-- .user-thumbnail -->
    
                                <div class="testimonial-content">
                                    <header class="entry-header">
                                        <h2 class="entry-title"><%= review.title %></h2>
                                    </header><!-- .entry-header -->
    
                                    <div class="entry-content">
                                        <p><%= review.description %></p>
                                    </div><!-- .entry-content -->
    
                                    <footer class="entry-footer">
                                        <a href="#">-Participant</a>
                                    </footer><!-- .entry-footer -->
                                </div><!-- .testimonial-content -->
                            </div><!-- .testimonial-content-wrap -->
                        </div><!-- .swiper-slide -->
                    <% }); %>

                </div><!-- .swiper-wrapper -->

                <!-- Add Pagination -->
                <div class="swiper-pagination" style="position: absolute; bottom: 60px;"></div>
                <form action="/reviews" method="get">
                    <button type="submit" class="btn btn-dark" style="margin-left: 260px;">Add Review</button>
                </form>
            </div><!-- .swiper-container -->

            <div class="swiper-button-next" style="position: absolute; right: 40px;">
                <img src="images/button.png" alt="">
            </div><!-- .slider-button -->
        </div><!-- .testimonials-container" -->

        <div class="testimonial-featured-image">
            <img src="images/testimonial.jpg" alt="">
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>SUNFEST</h2>
        </div><!-- .site-footer -->

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">SUNFEST</a>
                        </div><!-- entry-title -->

                        <div class="entry-mail">
                            <a href="#">SAYHELLO@SUNFEST.COM</a>
                        </div><!-- .entry-mail -->

                        <div class="copyright-info">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- copyright-info -->

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div><!-- footer-social -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer-content-wrapper -->
    </footer><!-- site-footer -->

<%- include("partials/footer2") %>
